<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<aside th:fragment="aside">
    <!-- Global Navigation Bar -->
    <ul id="gnb">
        <li>
            <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>환경설정</a>
            <ol>
                <li><a th:href="@{/admin/config/info}">기본환경정보</a></li>
                <li><a th:href="@{/admin/config/banner}">배너관리</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fas fa-store" aria-hidden="true"></i>상점관리</a>
            <ol>
                <li><a href="#">판매자현황</a></li>
                <li><a href="#">재고관리</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-users" aria-hidden="true"></i>회원관리</a>
            <ol>
                <li><a href="#">회원현황</a></li>
                <li><a href="#">포인트관리</a></li>
                <li><a href="#">비회원관리</a></li>
                <li><a href="#">접속자집계</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fas fa-box-open" aria-hidden="true"></i>상품관리</a>
            <ol>
                <li><a th:href="@{/admin/product/list}">상품현황</a></li>
                <li><a th:href="@{/admin/product/register}">상품등록</a></li>
                <li><a href="#">재고관리</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>주문관리</a>
            <ol>
                <li><a href="#">주문현황</a></li>
                <li><a href="#">매출현황</a></li>
                <li><a href="#">결제관리</a></li>
                <li><a href="#">배송관리</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>게시판관리</a>
            <ol>
                <li><a th:href="@{/admin/notice/list}">공지사항</a></li>
                <li><a th:href="@{/admin/faq/list}">자주묻는질문</a></li>
                <li><a th:href="@{/admin/qna/list}">문의하기</a></li>
            </ol>
        </li>
    </ul>
</aside>
</body>
</html>