<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
</head>
<main>
    <div th:replace="/admin/header.html :: header"></div>
    <div th:replace="/admin/aside.html :: aside"></div>
    <section id="admin-cs-view">
        <nav>
            <h3>자주묻는질문 작성</h3>
            <p>
                HOME > 고객센터 > <strong>자주묻는질문</strong>
            </p>
        </nav>
        <section>
            <article>
                <form th:action="@{/admin/faq/write}" method="post">
                    <section>
                        <table>
                            <tr>
                                <td>유형</td>
                                <td>
                                    <select name="cate" id="searchCate1">
                                        <option selected disabled>1차 유형</option>
                                        <option th:each="cate1 : ${faqView}"
                                                th:if="${cate1.cateName == '쿠폰/이벤트' or
                                                        cate1.cateName == '주문/결제' or
                                                        cate1.cateName == '배송' or
                                                        cate1.cateName == '취소/반품/교환' or
                                                        cate1.cateName == '여행/숙박/항공' or
                                                        cate1.cateName == '안전거래'
                                                        }"
                                                th:value="${cate1.cate}"
                                                th:text="${cate1.cateName}">
                                        </option>
                                    </select>
                                    <select name="type" id="searchCate2">
                                        <option selected disabled>2차 유형</option>
                                        <option th:each="cate2 : ${faqView}"
                                                th:value="${cate2.type}"
                                                th:text="${cate2.typeName}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </section>
                    <section>
                        <table>
                            <tr>
                                <td>제목</td>
                                <td><textarea name="title" placeholder="제목을 입력하세요" rows="4" cols="100" style="background-color: white;"></textarea></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td><textarea name="content" placeholder="내용을 입력하세요."rows="12" cols="100" style="background-color: white;"></textarea></td>
                            </tr>
                        </table>
                    </section>
                    <div style="text-align: center">
                        <input type="submit" value="취소하기" class="csRegister">
                        <input type="submit" value="등록하기" class="csRegister">
                    </div>
                </form>
            </article>
        </section>
    </section>
</main>
<div th:replace="/admin/footer.html :: footer"></div>
</html>