<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
</head>
<main>
    <div th:replace="/admin/header.html :: header"></div>
    <div th:replace="/admin/aside.html :: aside"></div>
    <section id="admin-cs-view">
        <nav>
            <h3>공지사항 작성</h3>
            <p>
                HOME > 고객센터 > <strong>공지사항</strong>
            </p>
        </nav>
        <section>
            <article>
                <form th:action="@{/admin/notice/write}" method="post">
                    <section>
                        <table>
                            <tr>
                                <td>유형</td>
                                <td>
                                    <select name="cate" id="searchCate1">
                                        <option selected disabled>1차 유형</option>
                                        <option th:each="cate1 : ${findCnameAndTname}"
                                                th:if="${cate1.cateName == '고객서비스' or
                                                        cate1.cateName == '안전거래' or
                                                        cate1.cateName == '위해상품' or
                                                        cate1.cateName == '이벤트당첨'}"
                                                th:value="${cate1.cate}"
                                                th:text="${cate1.cateName}">
                                        </option>
                                    </select>
                                    <select name="type" id="searchCate2">
                                        <option selected disabled>2차 유형</option>
                                        <option th:each="cate2 : ${findCnameAndTname}"
                                                th:if="${cate2.cateName == '고객서비스'}"
                                                th:value="${cate2.type}"
                                                th:text="${cate2.typeName + ' - ' + '안내, 주의'}">
                                        </option>
                                        <option th:each="cate2 : ${findCnameAndTname}"
                                                th:if="${cate2.cateName == '안전거래'}"
                                                th:value="${cate2.type}"
                                                th:text="${cate2.typeName + ' - ' + '서비스 이용 규칙 위반, 지식재산권침해, 법령 및 정책 위반 상품,  게시물 정책 위반, 직거래/외부거래 유도, 표시광고, 청소년 위해상품/이미지'}">
                                        </option>
                                        <option th:each="cate2 : ${findCnameAndTname}"
                                                th:if="${cate2.cateName == '위해상품'}"
                                                th:value="${cate2.type}"
                                                th:text="${cate2.typeName + ' - ' + '위해상품정보'}">
                                        </option>
                                        <option th:each="cate2 : ${findCnameAndTname}"
                                                th:if="${cate2.cateName == '이벤트당첨'}"
                                                th:value="${cate2.type}"
                                                th:text="${cate2.typeName + ' - ' + '발표'}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </section>9
                    <section>
                        <table>
                            <tr>
                                <td>제목</td>
                                <td><textarea name="title" placeholder="제목을 입력하세요" rows="4" cols="100" style="background-color: white;"></textarea></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td><textarea name="content" placeholder="내용을 입력하세요."rows="12" cols="100" style="background-color: white;"></textarea></td>
                            </tr>
                        </table>
                    </section>
                    <div style="text-align: center">
                        <input type="submit" value="취소하기" class="csRegister">
                        <input type="submit" value="등록하기" class="csRegister">
                    </div>
                </form>
            </article>
        </section>
    </section>
</main>
<div th:replace="/admin/footer.html :: footer"></div>
</html>