<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
    <script th:src="@{/admin/js/checkall.js}"></script>
    <div th:replace="/admin/header.html :: header"></div>
</head>
<main>
    <div th:replace="/admin/aside.html :: aside"></div>
    <section id="admin-product-list">
        <nav>
            <h3>공지사항 목록</h3>
            <p>
                HOME > 고객센터 > <strong>공지사항</strong>
            </p>
        </nav>

        <!-- 상품목록 컨텐츠 시작 -->
        <section>

            <form>
                <div>
                    <select>
                        <option selected disabled hidden>유형선택</option>
                        <option th:each="dto : ${findCname}" th:value="${dto.cate}" th:text="${dto.cateName}">유형선택</option>
                    </select>
                </div>
                <table id="noticeTable" class="listTable">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="all" /></th>
                        <th>번호</th>
                        <th>유형</th>
                        <th>제목</th>
                        <th>조회</th>
                        <th>날짜</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody class="listTbody">
                    <th:block th:each="dto : ${noticeList}">
                        <tr>
                            <td><input type="checkbox" name="chk" /></td>
                            <td style="text-align: center; width: 10%" th:text="${dto.noticeNo}"></td>
                            <td style="text-align: center; width: 10%" th:text="${dto.cateName}"></td>
                            <td style="text-align: center; width: 40%"><a th:href="@{/admin/notice/view(noticeNo=${dto.noticeNo})}"> <span th:text="'[' + ${dto.typeName} + ']' + ${dto.title}"></span> </a></td>
                            <td style="text-align: center; width: 10%" th:text="${dto.hit}"></td>
                            <td style="text-align: center; width: 20%" th:text="${#temporals.format(dto.rdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td style="text-align: center; width: 10%">
                                <a th:href="@{/admin/notice/delete(noticeNo=${dto.noticeNo})}" >[삭제]</a>
                                <br />
                                <a th:href="@{/admin/notice/modify(noticeNo=${dto.noticeNo})}" >[수정]</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <div>
                        <input type="submit" value="선택삭제" class="deleteAll" />
                    </div>
                    <div>
                        <a th:href="@{/admin/notice/write}" class="writeBtn">작성하기</a>
                    </div>
                </div>
            </form>

            <div class="paging">
                <span class="prev" th:if="${pageGroupStart > 1}">
                    <a th:href="@{/admin/notice/list(pg=${pageGroupStart - 1})}">이전</a>
                </span>
                <span class="num">
                    <th:block th:each="i : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <a th:href="@{/admin/notice/list(pg=${i},search=${search})}" th:classappend="${currentPage == i} ? 'current' : 'off'">
                            [[${i}]]
                        </a>
                    </th:block>
                </span>
                <span class="next" th:if="${pageGroupEnd < lastPageNum}">
                    <a th:href="@{/admin/notice/list(pg=${pageGroupEnd + 1})}">다음</a>
                </span>
            </div>
        </section>
    </section>
</main>
<div th:replace="/admin/footer.html :: footer"></div>
</html>
