<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/">
    <meta charset="UTF-8">
    <!--  -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
    <head>
        <div th:replace="/admin/header.html :: header"></div>
    </head>
    <main>
        <div th:replace="/admin/aside.html :: aside"></div>
        <section id="admin-product-list">
            <nav>
                <h3>공지사항 목록</h3>
                <p>
                    HOME > 고객센터 > <strong>공지사항</strong>
                </p>
            </nav>

            <!-- 상품목록 컨텐츠 시작 -->
            <section>

                <form>
                    <div>
                        <select name="searchCate1" id="searchCate1">
                            <option value="">유형선택</option>
                        </select>
                        <input type="text" name="searchKeyword" id="searchKeyword" value="{cateName}" placeholder="검색어를 입력하세요." >
                        <input type="hidden" name="searchPg" id="searchPg">
                    </div>
                    <table class="listTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="all"/></th>
                                <th>번호</th>
                                <th>유형</th>
                                <th>제목</th>
                                <th>조회</th>
                                <th>날짜</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody class="listTbody">
                            <th:each var="dto" items="">
                                <tr>
                                    <td><input type="checkbox" name="chk" value="${dto.noticeNo}"/></td>
                                    <td>[[${dto.noticeNo}]]</td>
                                    <td>[[${dto.cateName}]]</td>
                                    <td><a th:href="@{/admin/cs/notice/view.do?no=${dto.noticeNo}}">[ ${dto.cateName} ] ${dto.title}</a></td>
                                    <td>[[${dto.hit}]]</td>
                                    <td>[[${dto.rdate}]]</td>
                                    <td>
                                        <a th:href="@{/admin/cs/notice/view.do?no=${dto.noticeNo}}" class="noticeDelete">[삭제]</a>
                                        <br/>
                                        <a th:href="@{/admin/cs/notice/view.do?no=${dto.noticeNo}}" class="noticeUpdate">[수정]</a>
                                    </td>
                                </tr>
                            </th:each>
                            <th:block th:if="${noticeNo == null or noticeNo.isEmpty()}">
                                <tr>
                                    <td colspan="7">
                                        조회 결과가 없습니다.
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>


                    <input type="submit" value="선택삭제" class="deleteAll" />
                    <a th:href="@{/admin/cs/notice/write}" class="writeBtn">작성하기</a>
                </form>


                <div class="paging">
                    <li th:if="${pageResponseDTO.prev}" class="paginate_button previous" aria-controls="dataTables-example" tabindex="0">
			        	<span class="prev">
			            	<a th:href="@{/admin/cs/notice/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start - 1})}"><&nbsp;이전</a>
		            	</span>
                    </li>
                    <li th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}"
                        th:class="${num} == ${currentPage} ? 'paginate_button active' : 'paginate_button'"
                        aria-controls="dataTables-example"
                        tabindex="0">
                        <span class="num">
                            <a th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${num})}" th:text="${num}"></a>
                        </span>
                    </li>
                    <li th:if="${pageResponseDTO.next}" class="paginate_button next" aria-controls="dataTables-example" tabindex="0">
                        <span class="next">
                            <a th:href="@{/article/list(cate=${pageResponseDTO.cate},pg=${pageResponseDTO.end + 1})}">다음</a>
                        </span>
                    </li>
                </div>

            </section>



            <!-- 상품목록 컨텐츠 끝 -->
        </section>
    </main>
    <div th:replace="/admin/footer.html :: footer"></div>
</html>