<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <script src="./js/gnb.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
</head>
<body>
    <div th:replace="/admin/header.html :: header"></div>
    <main>
    <div th:replace="/admin/aside.html :: aside"></div>
    <section id="admin-product-register">
        <nav>
            <h3>공지사항 조회</h3>
            <p>
                HOME > 고객센터 > <strong>공지사항</strong>
            </p>
        </nav>
        <article>
            <input name="noticeNo" type="hidden" th:value="${noticeView.noticeNo}" />
            <table class="csInputTable csViewTable">
                <tr>
                    <td>유형</td>
                    <td>
                        <p th:text="${noticeView.cateName}"></p>
                    </td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td th:text="'[' + ${noticeView.typeName} + '] ' + ${noticeView.title}"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>[[${noticeView.content}]]<br/><br/>
                    ※ 피싱 관련 피해신고<br/><br/>
                    ▶ 경찰청 사이버수사국 (국번없이)182 :
                    http://cyberbureau.police.go.kr<br/>
                    ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                    http://www.krcert.or.kr<br/>
                    감사합니다.<br/></td>
                </tr>
            </table>
            <div style="text-align: right;">
                <a th:style="'font-size: 20px;'" th:href="@{/admin/notice/delete(noticeNo=${noticeView.noticeNo})}">삭제</a>
                <a th:style="'font-size: 20px;'" th:href="@{/admin/notice/modify(noticeNo=${noticeView.noticeNo})}">수정</a>
                <a th:style="'font-size: 20px;'" th:href="@{/admin/notice/list(notice)}">목록</a>
            </div>
        </article>
    </section>
</main>
<div th:replace="/admin/footer.html :: footer"></div>
</body>
</html>