<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON::고객센터</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" />    
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="top">
          <div>
            <p>
              <a href="./member/login.html">로그인</a>
              <a href="#">회원가입</a>
              <a href="#">마이페이지</a>
              <a href="#"
                ><i class="fa fa-shopping-cart" aria-hidden="true"></i
                >&nbsp;장바구니</a
              >
            </p>
          </div>
        </div>
        <div class="logo">
          <div>
            <a href="#"><img src="../../images/header_logo.png" alt="로고" />고객센터</a>
          </div>
        </div>
      </header>

      <section id="cs">
        <div class="notice">
          <nav>
            <div>
              <p>홈<span>></span>공지사항</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>공지사항</h2>
              <ul>
                <li class="on"><a href="#">전체</a></li>
                <li><a href="#">고객서비스</a></li>
                <li><a href="#">안전거래</a></li>
                <li><a href="#">위해상품</a></li>
                <li><a href="#">이벤트당첨</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h1>전체</h1>
                <h2>공지사항 전체 내용입니다.</h2>
              </nav>

              <table>
                <tr>
                  <td><a href="./view.html">[안내] 해외결제 사칭 문자 주의</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="./view.html">[발표]『G.Live X SK스토아(하남쭈꾸미)』 이벤트 당첨자</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[안내] 로젠택배 반품/교환 수거지시 지연 안내</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[안내] 해외직구셀러 특별약관 개정</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[안내] 위치정보이용 약관 개정 공지</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[발표]『써모스 상품 구매』 이벤트 당첨자</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">한국소비자원, '22년 OECD 글로벌 제품안전 캠페인</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[점검] G마켓 사이트 이용 일시 중단</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[안내] 구매회원 이용약관 개정</a></td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[안내] 씨티은행 시스템 점검에 따른 계좌, 체크카드결제 서비스 일시 중단</a></td>
                  <td>2022.11.21</td>
                </tr>
              </table>

              <div class="page">
                <a href="#" class="prev">이전</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="next">다음</a>
              </div>

            </article>
          </section>
        </div>
      </section>

      <footer>
        <ul>
          <li><a href="#">회사소개</a></li>
          <li><a href="#">서비스이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">전자금융거래약관</a></li>
        </ul>
        <div>
          <p><img src="../../images/footer_logo.png" alt="로고" /></p>
          <p>
            <strong>(주)롯데ON</strong><br />
            서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
            대표이사 : 김사무엘상현, 정준호, 강성현<br />
            사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
            통신판매업 신고 : 서울송파 제0158호<br>
            호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
          </p>
          <p>
            <strong>고객센터</strong><br />
            Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
            Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
