<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cs/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="cs">
        <div class="notice">
            <nav>
                <div>
                    <p>
                        <a th:href="@{/cs/index}">홈</a><span>&gt;</span>
                        <a th:href="@{/cs/notice/list(cate=all)}">공지사항</a>
                    </p>
                </div>
            </nav>
            <section id="pageCss" class="list">
                <aside>
                    <h2>공지사항</h2>
                    <ul>
                        <li th:class="${(cateDto.getCate() eq 'all') ? 'on' : '' }">
                            <a th:href="@{/cs/notice/list(cate=all)}">전체</a>
                        </li>
                        <li th:class="${(cateDto.getCate() eq 'cs') ? 'on' : '' }">
                            <a th:href="@{/cs/notice/list(cate=cs)}">고객서비스</a>
                        </li>
                        <li th:class="${(cateDto.getCate() eq 'safe') ? 'on' : '' }">
                            <a th:href="@{/cs/notice/list(cate=safe)}">안전거래</a>
                        </li>
                        <li th:class="${(cateDto.getCate() eq 'dangerProd') ? 'on' : '' }">
                            <a th:href="@{/cs/notice/list(cate=dangerProd)}">위해상품</a>
                        </li>
                        <li th:class="${(cateDto.getCate() eq 'event') ? 'on' : '' }">
                            <a th:href="@{/cs/notice/list(cate=event)}">이벤트당첨</a>
                        </li>
                    </ul>
                </aside>

                <article>
                    <nav>
                        <h1>[[${cateDto.cateName}]]</h1>
                        <h2>공지사항 [[${cateDto.cateName}]] 내용입니다.</h2>
                    </nav>
                    <table>
                        <th:block th:each="notice : ${csPageResponseDTO.getNoticeList}">
                        <tr>
                            <td>
                                <!--(cate=notice.cate, bno=notice.noticeNo) -->
                                <a th:href="@{/cs/notice/view(no=${notice.noticeNo})}">
                                    [<span th:text="${notice.typeName}"></span>]
                                    [[${notice.title}]]
                                </a>
                            </td>
                            <td>
                                <span class="date"
                                      th:text="${#temporals.format(notice.rdate, 'yy-MM-dd')}">
                                </span>
                            </td>
                        </tr>
                        </th:block>
                    </table>

                    <div class="page">
                        <span th:if="${csPageResponseDTO.prev}" class="prev">
                            <a th:href="@{/cs/notice/list(cate=${csPageResponseDTO.cate}, pg=1)}"
                               class="prev">&laquo;</a>
                            <a th:href="@{/cs/notice/list(cate=${csPageResponseDTO.cate}, pg=${csPageResponseDTO.start - 1})}"
                               class="prev">이전</a>
                        </span>

                        <span th:each="num : ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}"
                                class="num">
                            <a th:href="@{/cs/notice/list(cate=${csPageResponseDTO.cate}, pg=${num})}"
                               th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">
                                [[${num}]]</a>
                        </span>

                        <span th:if="${csPageResponseDTO.next}" class="next">
                            <a th:href="@{/cs/notice/list(cate=${csPageResponseDTO.cate}, pg=${csPageResponseDTO.end + 1})}"
                               >다음</a>
                            <a th:href="@{/cs/notice/list(cate=${csPageResponseDTO.cate}, pg=${csPageResponseDTO.last})}"
                               >&raquo;</a>
                        </span>
                    </div>

                </article>
            </section>
        </div>
    </section>
</th:block>
</html>