<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cs/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="cs">
        <div class="faq">
            <nav>
                <div>
                    <p>
                        <a th:href="@{/cs/index}">홈</a><span>&gt;</span>
                        <a th:href="@{/cs/faq/list(cate=member)}">자주묻는질문</a>
                    </p>
                </div>
            </nav>
            <section id="pageCss" class="list">
                <aside>
                    <h2>자주 묻는 질문</h2>
                    <ul>
                        <li th:class="${cateDto.getCate() eq 'member' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=member)}">회원</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'coupon' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=coupon)}">쿠폰/이벤트</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'order' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=order)}">주문/결제</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'delivery' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=delivery)}">배송</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'cancel' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=cancel)}">취소/반품/교환</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'travel' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=travel)}">여행/숙박/항공</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'safe' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=safe)}">안전거래</a>
                        </li>
                    </ul>
                </aside>

                <article>
                    <th:block>
                        <nav>
                            <h1>[[${cateDto.cateName}]]</h1>
                            <h2>가장 자주 묻는 [<span th:text="${cateDto.cateName}"></span>] 질문입니다.</h2>
                        </nav>

                        <div>
                            <th:block th:each="typeDTO : ${typeDTOList}">
                                <h3>[[${typeDTO.typeName}]]</h3>
                                <ul>
                                    <th:block th:each="faqDTO : ${faqDTOList}"
                                              th:if="${typeDTO.type} eq ${faqDTO.type}">
                                        <li th:class="${faqDTO.index ge 3
                                                        && faqDTO.index le 9 ? faqDTO.type : ''}">
                                            <a th:href="@{/cs/faq/view(no=${faqDTO.faqNo})}">
                                                <span>Q.</span> [[${faqDTO.title}]]
                                            </a>
                                        </li>
                                    </th:block>
                                    <li class="more">
                                        <a th:class="moreAteg + ' ' + ${typeDTO.type}"
                                           href="#">더보기</a>
                                        <a th:class="lessAteg + ' ' + ${typeDTO.type}"
                                           style="display: none" href="#">간단히보기</a>
                                    </li>
                                </ul>
                            </th:block>
                        </div>
                    </th:block>

                </article>
            </section>
        </div>
    </section>
<script>
    $(function () {
        $(".moreAteg").click(function(e){
            e.preventDefault();
            console.log("more click");

            // this.classList : 배열 형태의 class 속성을 가짐
            // => 배열이니깐 index 1번이 ${type.type}이 됨
            let type = this.classList[1];

            //jQuery 써야되니깐 .을 붙인 뒤 type을 통해 해당 타입의 클래스를 만들어줌
            $("."+type).show();
            $(this).hide();

            // .lessAteg 이면서 .type을 보여줌
            // -> 간단히 보기가 보이게 됨
            $(".lessAteg."+type).show();
        });

        $(".lessAteg").click(function(e){
            e.preventDefault();
            console.log("less click");
            let type = this.classList[1];

            $("."+type).hide();
            $(this).hide();
            $(".moreAteg."+type).show();
        });
    });
</script>
</th:block>
</html>