<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cs/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <section id="cs">
        <div class="faq">
            <nav>
                <div>
                    <p>
                        <a th:href="@{/cs/index}">홈</a><span>&gt;</span>
                        <a th:href="@{/cs/faq/list(cate=member)}">자주묻는질문</a>
                    </p>
                </div>
            </nav>
            <section id="pageCss" class="list">
                <aside>
                    <h2>자주 묻는 질문</h2>
                    <ul>
                        <li th:class="${cateDto.getCate() eq 'member' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=member)}">회원</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'coupon' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=coupon)}">쿠폰/이벤트</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'order' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=order)}">주문/결제</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'delivery' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=delivery)}">배송</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'cancel' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=cancel)}">취소/반품/교환</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'travel' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=travel)}">여행/숙박/항공</a>
                        </li>
                        <li th:class="${cateDto.getCate() eq 'safe' ? 'on' : '' }">
                            <a th:href="@{/cs/faq/list(cate=safe)}">안전거래</a>
                        </li>
                    </ul>
                </aside>

                <article>
                    <th:block>
                        <nav>
                            <h1>[[${cateDto.cateName}]]</h1>
                            <h2>가장 자주 묻는 [<span th:text="${cateDto.cateName}"></span>] 질문입니다.</h2>
                        </nav>

                        <div>
                            <th:block th:each="faqDTO : ${faqDTOList}">
                                <h3>[[${faqDTO.typeName}]]</h3>
                                <ul>
                                    <th:block >
                                        <li>
                                            <a th:href="@{/cs/faq/view(no=faq.faqNo)}">
                                                <span>Q.</span> [[${faqDTO.title}]]
                                            </a>
                                        </li>
                                        <li class="more">
                                            <a href="#">더보기</a>
                                        </li>
                                    </th:block>
                                </ul>
                            </th:block>
                        </div>
                    </th:block>
                </article>
            </section>
        </div>
    </section>
<script>
    $(function () {
        $('.more').click(function (e) {
            e.preventDefault();

            /*
            let item = $(this).parent().find('> li:nth-child(n+4)');
            let isVisible = item.is(':visible');

            console.log('isVisible : ' + isVisible);

            if(isVisible){
              item.slideUp(100);
            }else{
              item.slideDown(100);
            }
            */
        });
    });
</script>
</th:block>
</html>