<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/">
<head th:replace="~{/admin/header :: header}">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}">
    <script th:src="@{/admin/js/checkall.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/admin/js/listCnameTname.js}"></script>
</head>
    <main>
        <div th:replace="~{/admin/aside :: aside}"></div>
        <section id="admin-product-list">
            <nav>
                <h3>문의하기 목록</h3>
                <p>
                    HOME > 고객센터 > <strong>문의하기</strong>
                </p>
            </nav>

            <!-- 상품목록 컨텐츠 시작 -->
            <section>

                <form action="#" method="post">
                    <div>
                        <div>
                            <select name="cate" id="cateName">
                                <option th:value="findCname.cate">1차 선택</option>
                            </select>
                            <select name="type" id="typeName">
                                <option th:value="findTname.type">2차 선택</option>
                            </select>
                        </div>
                    </div>
                    <table class="listTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="all"/></th>
                                <th>번호</th>
                                <th>1차 유형</th>
                                <th>2차 유형</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>상태</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody class="listTbody">
                                <tr th:each="dto : ${qnaList}">
                                    <td><input type="checkbox" name="chk"/></td>
                                    <td style="text-align: center; width: 5%" th:text="${dto.qnaNo}"></td>
                                    <td style="text-align: center; width: 15%" th:text="${dto.cateName}"></td>
                                    <td style="text-align: center; width: 15%" th:text="${dto.typeName}"></td>
                                    <td style="text-align: center; width: 20%" ><a th:href="@{/admin/qna/view(qnaNo=${dto.qnaNo})}"><span th:text="${dto.title}"></span></a></td>
                                    <td style="text-align: center; width: 10%" th:text="${dto.writer}"></td>
                                    <td style="text-align: center; width: 15%" th:text="${#temporals.format(dto.rdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td style="text-align: center; width: 10%" >
                                        <a th:if="${dto.answerComplete}">
                                            <span th:if="${dto.answerComplete == 0}">미확인</span>
                                            <span th:if="${dto.answerComplete == 1}">검토중</span>
                                            <span th:if="${dto.answerComplete == 2}" style="color: blue;">답변완료</span>
                                            <span th:if="${dto.answerComplete == 3}" style="color: red;">삭제됨</span>
                                        </a>
                                    </td>
                                    <td style="text-align: center; width: 10%" >
                                        <a th:href="@{/admin/qna/delete(qnaNo=${dto.qnaNo})}" >[삭제]</a>
                                    </td>
                                </tr>
                        </tbody>
                    </table>

                    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                        <form th:action="@{/admin/faq/delete/{qnaNo}(qnaNo=${qnaNo})}" method="post">
                            <div>
                                <input type="submit" value="선택삭제" class="deleteAll" />
                            </div>
                        </form>
                    </div>
                </form>

                <div class="paging">
                <span class="prev" th:if="${pageGroupStart > 1}">
                    <a th:href="@{/admin/qna/list(pg=${pageGroupStart - 1})}"><&nbsp;이전</a>
                </span>
                    <span class="num">
                    <th:block th:each="i : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <a th:href="@{/admin/qna/list(pg=${i},search=${search})}" th:classappend="${currentPage == i} ? 'current' : 'off'">
                            [[${i}]]
                        </a>
                    </th:block>
                </span>
                    <span class="next" th:if="${pageGroupEnd < lastPageNum}">
                    <a th:href="@{/admin/qna/list(pg=${pageGroupEnd + 1})}">다음&nbsp;></a>
                </span>
                </div>
            </section>
        </section>
    </main>
    <div th:replace="~{/admin/footer :: footer}"></div>
</html>