<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>롯데ON::관리자 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>    
    <script src="../js/gnb.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/admin.css">

    <script>
        // 전체 체크박스
        $(function() {
            $('#selectAll').change(function(){
                const isChecked = $(this).is(':checked');
                if (isChecked) {
                    $('input[name=chk]').prop('checked', true);
                } else {
                    $('input[name=chk]').prop('checked', false);
                }
            });

            $('input[name=chk]').change(function() {
                const chk = $('input[name=chk]');
                let cnt = 0;
                // 배열 길이 구하기
                for (let i = 0; i < chk.length; i++) {
                    if (chk[i].checked) {
                        cnt++;
                    }
                }
                if (!$(this).is(':checked')) {
                    $('#selectAll').prop('checked', false);
                } else if (cnt == chk.length) {
                    $('#selectAll').prop('checked', true);
                }
            });
        });
        // 전체 체크박스 끝
    </script>

</head>
<body>
    <div id="admin-wrapper">
        <header>
            <div>
                <a th:href="@{/admin/index}" class="logo"><img src="../images/admin_logo.png" alt="admin_logo"/></a>
                <p>
                    <span>홍길동님 반갑습니다.</span>
                    <a th:href="@{/}">HOME |</a>
                    <a href="#">로그아웃 |</a>
                    <a th:href="@{/cs/index}">고객센터</a>
                </p>
            </div>
        </header>
        <main>
            <aside>
                <!-- Global Navigation Bar -->
                <ul id="gnb">
                    <li>
                        <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>환경설정</a>
                        <ol>
                            <li><a th:href="@{/admin/config/info}">기본환경정보</a></li>
                            <li><a th:href="@{/admin/config/banner}">배너관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-store" aria-hidden="true"></i>상점관리</a>
                        <ol>
                            <li><a href="#">판매자현황</a></li>
                            <li><a href="#">재고관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>회원관리</a>
                        <ol>
                            <li><a href="#">회원현황</a></li>
                            <li><a href="#">포인트관리</a></li>
                            <li><a href="#">비회원관리</a></li>
                            <li><a href="#">접속자집계</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-box-open" aria-hidden="true"></i>상품관리</a>
                        <ol>
                            <li><a href="#">상품현황</a></li>
                            <li><a th:href="@{/admin/product/register}">상품등록</a></li>
                            <li><a href="#">재고관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>주문관리</a>
                        <ol>
                            <li><a href="#">주문현황</a></li>
                            <li><a href="#">매출현황</a></li>
                            <li><a href="#">결제관리</a></li>
                            <li><a href="#">배송관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>게시판관리</a>
                        <ol>
                            <li><a th:href="@{/admin/notice/list}">공지사항</a></li>
                            <li><a th:href="@{/admin/faq/list}">자주묻는질문</a></li>
                            <li><a th:href="@{/admin/qna/list}">문의하기</a></li>
                        </ol>
                    </li>
                </ul>
            </aside>
            <section id="admin-product-list">
                <nav>
                    <h3>상품목록</h3>
                    <p>
                        HOME > 상품관리 > <strong>상품목록</strong>
                    </p>
                </nav>
                <!-- 상품목록 컨텐츠 시작 -->                                
                <section>
                    <div>
                        <form th:action="@{/admin/product/list}" method="get">
                            <select name="searchCate">
                                <option value="prodName">상품명</option>
                                <option value="prodNo">상품코드</option>
                                <option value="company">제조사</option>
                                <option value="seller">판매자</option>
                            </select>
                            <input type="text" name="search">
                            <input type="submit" class="list-search" value="검색" />
                        </form>
                    </div>
                    <table>
                        <tr>
                            <th><input type="checkbox" name="all" id="selectAll"/></th>
                            <th>이미지</th>
                            <th>상품코드</th>
                            <th>상품명</th>
                            <th>판매가격</th>
                            <th>할인율</th>
                            <th>포인트</th>
                            <th>재고</th>
                            <th>판매자</th>
                            <th>조회</th>
                            <th>관리</th>
                        </tr>

                        <tr th:each="product : ${products}">
                            <td><input type="checkbox" name="chk" th:value="${product.prodNo}"/></td>
                            <td><img th:src="@{'/thumb/'+${product.thumb}}" class="thumb"></td>
                            <td>[[${product.prodNo}]]</td>
                            <td>[[${product.prodName}]]</td>
                            <td>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</td>
                            <td>[[${product.discount}]]</td>
                            <td>[[${product.point}]]</td>
                            <td>[[${product.stock}]]</td>
                            <td>[[${product.seller}]]</td>
                            <td>[[${product.hit}]]</td>
                            <td>
                                <a href="#">[삭제]</a>
                                <a href="#">[수정]</a>
                            </td>
                        </tr>

                        
                    </table>

                    
                    <input type="button" value="선택삭제" />                          


                    <div class="paging">
                        <span class="prev">

                            <a th:href="@{/admin/product/list(pg=${pageGroupStart - 1})}" th:if="${pageGroupStart > 1}"><이전</a>
                        </span>
                        <span class="num">
                            <th:block th:each="num : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                                <a th:href="@{/admin/product/list(pg=${num})}">[[${num}]]</a>
                            </th:block>
                        </span>
                        <span class="next">
                            <a th:href="@{/admin/product/list(pg=${pageGroupEnd + 1})}" th:if="${pageGroupEnd < lastPageNum}">다음></a>
                        </span>
                        </div>

                </section>                

                
                <p class="ico info">
                    <strong>Tip!</strong>
                    전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
                </p>

                

                <!-- 상품목록 컨텐츠 끝 -->
            </section>
        </main>
        <footer>
            <div>
                <p>Copyright ©lotteon.com All rights reserved. ADMINISTRATOR Version 5.4.1.2</p>
            </div>
        </footer>
    </div>    
</body>
</html>